[loggers]
keys=root,main_ora_extract,main_ora_injest,oradb_lib,docker_parser,async_loader,
    object_store,env_config,main_common,kubernetes_wrapper,main_spar_extract,
    postgresdb_lib, constants,db_lib,fix_forest_client_fk_violation

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_main_ora_extract]
level=DEBUG
handlers=consoleHandler
qualname=main_ora_extract
propagate=0

[logger_main_ora_injest]
level=DEBUG
handlers=consoleHandler
qualname=main_ora_injest
propagate=0

[logger_oradb_lib]
level=DEBUG
handlers=consoleHandler
qualname=oradb_lib
propagate=0

[logger_docker_parser]
level=DEBUG
handlers=consoleHandler
qualname=docker_parser
propagate=0

[logger_async_loader]
level=DEBUG
handlers=consoleHandler
qualname=async_loader
propagate=0

[logger_object_store]
level=DEBUG
handlers=consoleHandler
qualname=object_store
propagate=0

[logger_env_config]
level=DEBUG
handlers=consoleHandler
qualname=env_config
propagate=0

[logger_main_common]
level=DEBUG
handlers=consoleHandler
qualname=main_common
propagate=0

[logger_kubernetes_wrapper]
level=DEBUG
handlers=consoleHandler
qualname=kubernetes_wrapper
propagate=0

[logger_main_spar_extract]
level=DEBUG
handlers=consoleHandler
qualname=main_spar_extract
propagate=0

[logger_postgresdb_lib]
level=DEBUG
handlers=consoleHandler
qualname=postgresdb_lib
propagate=0

[logger_constants]
level=DEBUG
handlers=consoleHandler
qualname=constants
propagate=0

[logger_db_lib]
level=DEBUG
handlers=consoleHandler
qualname=db_lib
propagate=0

[logger_fix_forest_client_fk_violation]
level=DEBUG
handlers=consoleHandler
qualname=fix_forest_client_fk_violation
propagate=0

#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter