[loggers]
keys=root,data_query_tool_oralib,data_query_migration_files,types,batch_run_deps,oralib2,main,batch_run
[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_data_query_tool_oralib]
level=DEBUG
handlers=consoleHandler
qualname=data_query_tool.oralib
propagate=0

[logger_data_query_migration_files]
level=DEBUG
handlers=consoleHandler
qualname=data_query_tool.migration_files
propagate=0

[logger_types]
level=DEBUG
handlers=consoleHandler
qualname=data_query_tool.types
propagate=0

[logger_batch_run_deps]
level=DEBUG
handlers=consoleHandler
qualname=batch_run_deps
propagate=0

[logger_oralib2]
level=DEBUG
handlers=consoleHandler
qualname=data_query_tool.oralib2
propagate=0

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=main
propagate=0

[logger_batch_run]
level=DEBUG
handlers=consoleHandler
qualname=batch_run
propagate=0






#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter